# Docker Project Name
COMPOSE_PROJECT_NAME=areteia
COMPOSE_FILE=docker-compose.moodle.yml:docker-compose.python.yml

# Moodle Configuration
MOODLE_VERSION=MOODLE_405_STABLE
MOODLE_URL=http://localhost:8080
MOODLE_DATA_ROOT=/var/www/moodledata

# Database Configuration
DB_TYPE=pgsql
DB_HOST=db
DB_NAME=moodle
DB_USER=dbuser
DB_PASS=password
DB_PORT=5432

# Moodle Admin Configuration (First time install)
MOODLE_ADMIN_USER=admin
MOODLE_ADMIN_PASS=password
MOODLE_ADMIN_EMAIL=email@example.com
MOODLE_FULLNAME=AreteIA Moodle
MOODLE_SHORTNAME=AreteIA


# Python path (por seguridad, es mejor idea separar en 2 envs)
# ARETEIA_SYNC_PATH=/var/www/moodledata/areteia_sync
ARETEIA_SYNC_PATH=./data/sync
# NOTE: Use host.docker.internal to reach the Python service on your host from Moodle container.
ARETEIA_AI_URL=http://localhost:8000
HF_TOKEN=hf_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

DASHSCOPE_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DASHSCOPE_MODEL=qwen-plus
DASHSCOPE_BASE_URL=https://dashscope-intl.aliyuncs.com/api/v1
